* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  border-radius: 0.5rem;
  font-family: monospace;
  font-size: 1rem;
  color: gray;
}

body {
  padding: 2rem;
  background: rgb(247, 242, 242);
}

button {
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.underline {
  position: absolute;
  inset: 0;
  background: rgb(255, 255, 255);
  border-radius: 5rem;
  z-index: -1;
}

.portfolio-nav {
  background: rgba(0, 0, 0, 0.04);
  border-radius: 5rem;
  display: inline-flex;
  margin-bottom: 2rem;
  padding: 0.3rem;
}

.portfolio {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.portfolio-item {
  width: 100%;
  max-width: 20rem;
  height: 20rem;
  background: rgb(255, 255, 255);
  box-shadow: transparent 0px 0px 0px 2px inset;
  padding: 2rem;
}
